
/*
MAIN CONTENT
*/

.ContentRoot {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.ContentContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
}


/*
INPUT SECTION 
*/

.inputBlockRoot {
    display: grid;
    gap: 1em;

    background-color: white;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid black;
}

.inputBlockRoot h3 {
    margin: 0;
    margin-bottom: 0.5em;
}

.inputPairRoot {
    display: grid;
}

.inputPairRoot label {
    text-align: left;
}

/*
RENDERED RESUME
*/

.resumeContentRoot {
    background: silver;
    border: 1px solid black;
    height: 100vh;
}

.resumeContent {
    aspect-ratio: 8.5 / 11;
    height: 100%;
    background: white;
    overflow: hidden;
}