/*
ROOT
*/

:root {
    --color-main: #F28E1C;
    --color-backing: #edf2f8;
    --color-grey: #ccc;

    /*
    --color-font-main: black;
    --color-background-main: white;
*/

    --borderRadius: 1em;
    --margin-default: 1.5em;
    --footer-height: 3em;

    --leftSideWidth: 300px;

    --A4pageHeight: 297mm;
    --A4pageMargin: 2cm;
}

body {
    background: var(--color-backing);
}


/*
MAIN CONTENT
*/

.ContentRoot {
    display: grid;

    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.ContentContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    /*
    justify-content: center;
    */
    width: min(100%, calc(var(--leftSideWidth) + 81.1cqmin)); /* I have no idea why it needs this number */
    background: silver;
}


/*
INPUT SECTION 
*/

.inputColumnRoot {
    display: grid;
    gap: 1em;
    width: var(--leftSideWidth);
    /* box-sizing: border-box; */
    height: 100vh;
    align-items: center;
}

.inputBlockRoot {
    display: grid;
    gap: 1em;
    background-color: var(--color-background-main);
    border-radius: 1em;
    padding: 1em;
    border: 1px solid black;
    /* width: 100%; */
    /* width: var(--leftSideWidth); */
    box-sizing: border-box;
}

.inputBlockRoot h3 {
    margin: 0;
    margin-bottom: 0.5em;
}

.inputPairRoot {
    display: grid;
}

.inputPairRoot label {
    text-align: left;
}

/*
RENDERED RESUME
*/

.resumeContentRoot {
    background: silver;
    border: 1px solid black;
    height: 100vh;
    /* max-width: min(100%, 77.272727cqmin); */
    overflow: hidden;
    display: grid
;
    /* align-items: center; */
}

.resumeContent {
    aspect-ratio: 8.5 / 11;
    height: var(--A4pageHeight);
    /* width: 210mm; */
    max-height: 100vh;
    background: var(--color-background-main);
    overflow: hidden;
    align-self: center;
}

.resumeTopBanner {
    background-color: #e5a101;
    color: white;
    padding: 1em;
}

.resumeTopBanner h2 {
    text-align: center;
    margin-top: 0;
    font-size: 2em;
}

.contactInfoGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
    gap: 1em;
}

.contactInfoGridPair {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    align-items: center;
    justify-content: center;

    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 0.75em;
}

.contactInfoGridPair img {
    height: 2em;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(195deg) brightness(200%) contrast(105%);
}

.resumeBlockHeader h3 {
    background: var(--color-backing);;
    padding: 0.5em 2em;
}

.resumeContentBlock {
    margin: 0 var(--A4pageMargin);
}

.resumeBlockContent {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr;
    */
}

.twoColumn {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.resumeBlockColumn p {
    margin: 0;
}

.HeaderBoldText {
    font-weight: bold;;
}

