/*
ROOT
*/

:root {
    --color-main: #F28E1C;
    --color-backing: #edf2f8;
    --color-grey: #ccc;

    /*
    --color-font-main: black;
    --color-background-main: white;
*/

    --borderRadius: 1em;
    --margin-default: 1.5em;
    --footer-height: 3em;

    --leftSideWidth: 300px;
}

body {
    background: var(--color-backing);
}


/*
MAIN CONTENT
*/

.ContentRoot {
    display: grid;

    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.ContentContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;

    width: min(100%, calc(var(--leftSideWidth) + 81.1cqmin)); /* I have no idea why it needs this number */
    background: silver;
}


/*
INPUT SECTION 
*/

.inputBlockRoot {
    display: grid;
    gap: 1em;
    
    width: var(--leftSideWidth);
    

    background-color: var(--color-background-main);
    border-radius: 1em;
    padding: 1em;
    border: 1px solid black;
}

.inputBlockRoot h3 {
    margin: 0;
    margin-bottom: 0.5em;
}

.inputPairRoot {
    display: grid;
}

.inputPairRoot label {
    text-align: left;
}

/*
RENDERED RESUME
*/

.resumeContentRoot {
    background: silver;
    border: 1px solid black;
    height: 100vh;
    max-width: min(100%, 77.272727cqmin); /* 8.5/11 */
    display: grid;
    /*
    align-items: center;
    */
}

.resumeContent {
    aspect-ratio: 8.5 / 11;
    /*
    height: 100%;
    height: min(100%, calc(100vw - var(--leftSideWidth)));
    */
    max-height: 100%;
    background: var(--color-background-main);
    overflow: hidden;
        /* align-self: center; */
}